.loginbg{

object-fit: cover;
background-image: url("https://4.bp.blogspot.com/-n-rV-fF2-vA/V0RqmAN4pBI/AAAAAAAAK2M/I6btAd8JoaY_BLpcForZzorg4pOhCQHXwCLcB/s1600/cobblestone-sidewalk-at-night-light-photography-1920x1200-wallpaper136975.jpg");

}
.registerbg{

    object-fit: cover;
    background-image: url("https://4.bp.blogspot.com/-n-rV-fF2-vA/V0RqmAN4pBI/AAAAAAAAK2M/I6btAd8JoaY_BLpcForZzorg4pOhCQHXwCLcB/s1600/cobblestone-sidewalk-at-night-light-photography-1920x1200-wallpaper136975.jpg");
    
    }



    .regCard{

    color: aliceblue;
      background-color: rgba(68 67 67 / 52%)
        
        }

        .logCard{

            color: aliceblue;
              background-color: rgba(68 67 67 / 52%);
              background-image: url("https://4.bp.blogspot.com/-n-rV-fF2-vA/V0RqmAN4pBI/AAAAAAAAK2M/I6btAd8JoaY_BLpcForZzorg4pOhCQHXwCLcB/s1600/cobblestone-sidewalk-at-night-light-photography-1920x1200-wallpaper136975.jpg");
                
                }


                .uHome{
                    height: 100vh;
                   background-color: blue;
                    object-fit: cover;
                
                      background-image: url("../public/pexels-oliver-sjöström-931018.jpg");
                        
                        }
            
    
        